@import "tailwindcss";

@theme {
  --color-primary: #002340;
  --color-primary-light: #003560;
  --color-text: #393939;
  --color-light-gray: #d9d9d9;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #393939;
}
